<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/d3js/6.1.1/d3.min.js"></script>
    </head>
    <body>
        <div class="bg-image"></div>
       
            <section class="grid-numeric">
                <div class="btn">
                    <label>Custom Pool</label> <br> <br>
                    <input id="txtInput"  type="text" placeholder="Insert Custom Names">
                    <button id="btnPool" onclick="addPool()">Add</button>
                    <!-- <input id="number" name="number" type="number" min="0" max="14">  -->
                </div>
            </section>
            <section class="button-center">
                <button class="button" onclick="goCustom()">Start</button>
            </section>
            <script>
                var Data = []
                //JQuery 
                $('#txtInput').keyup(function(event) {
                    if (event.keyCode == 13) {
                        $("#btnPool").click();
                    }
                });

                function addPool(){
                    var txtInput = document.getElementById("txtInput")
                    if(Data.length == 14) {
                        alert("Limit: 14")
                    }
                    else{
                        if(txtInput.value == ""){
                            alert("Nothing on text box!")
                        } else {
                            if(repeatNames(txtInput.value) == false){
                                Data.push(txtInput.value)
                            }
                            else {
                                alert("Duplicated Name")
                            }
                        }
                    }
                     txtInput.value = ""
                }

                function repeatNames(name) {
                    for(i = 0; i < Data.length; i++) {
                        if(Data[i] == name)
                            return true;
                    }
                    return false;
                }

                function goCustom(){
                    if(Data.length > 0){
                        setCookie("Data", Data)
                        location.href = "/pick/custom"
                    }   
                }

                function setCookie(cname, cvalue, seconds) {
                    document.cookie = cname + "=" + cvalue + ";" + "path=/";
                }
            </script>
    </body>
</html>