<html>
    <head>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="bg-image"></div>
        <div class="bg-text">
            <h3>Vote System</h3>
        </div>
        <section class="grid">
            <a href="/pick/normal">
                <div class="item">CSGO Default Map Pool</div>
            </a>
            <a href="/custom">
                <div class="item">Custom Pool</div>
            </a>
        </section>
    </body>
</html>